@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen bg-fixed;
    /* Gradiente suave estilo Glassmorphism */
    background: linear-gradient(135deg, #e0f2f1 0%, #e6a4f1 50%, #9cecf7 100%);
  }
}

/* Clase de utilidad para el efecto cristal */
.glass {
  @apply bg-white/40 backdrop-blur-md border border-white/20 shadow-xl;
}